// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons.css';

button{
    margin: 12px 0;
}
.card{
    padding: 12px;
    &-title{
        min-height: 50px;
    }
    &-text{
        height: 300px;
    }
}

.posts-container{
    .table{
        img{
            width: 100px;
        }
    }
}
